.week-schedule-container {
  display: flex;
  .week-schedule-container__summary{
    display: flex;
    flex-direction: column;
  }
}
.header--clickable {
  cursor: pointer;
  &:hover {
    color: green;
  }
}
.day-list-content {
  flex-direction: row !important;
  .day-selection-item {
    width:50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    .day-selection-item__content {
      flex-direction: row;
      justify-content: space-evenly;
      width:100%;
    }
  }
}