.meal-container {
  display: flex;
  justify-content: space-evenly;
}
.meal-list {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.meal-selection {
  &:hover {
    background-color: #61dafb;
    cursor: pointer;
  }
}
