.module-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.create-meal-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  .create-meal-container__content {
    display: flex;
  }
}
.list-item {
  position: relative;
  .content {
    flex-direction: column;
    display: flex;
    padding: 20px;
    .list-item__name {
      font-weight: bolder;
      padding-bottom: 5px;
    }
  }

  &:nth-child(odd) {
    background-color: whitesmoke;
  }
  .fa-window-close {
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
  .fa-arrow-right {
    position: absolute;
    right:0;
    top: 20px;
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
}
.selection-list__item{
  &:hover {
    background-color: #61dafb;
    cursor: pointer;
  }
}