@import url('http://weloveiconfonts.com/api/?family=fontawesome');

.module-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.create-meal-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  .create-meal-container__content {
    display: flex;
  }
}

.list-item {
  position: relative;
  padding: 10px;
  .content {
    flex-direction: column;
    display: flex;
    padding: 0 10px 0 10px;
  }
  .fa-window-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
  .fa-arrow-right {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
  .list-item__quantity {
    font-weight: bold;
    padding-bottom: 2px;
  }
}
.selection-list {
  .fa-window-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}
.selection-list__item {
  &:nth-child(odd) {
    background-color: whitesmoke;
  }
  &:hover {
    background-color: #61dafb;
    cursor: pointer;
  }
}

.selected {
  color: gold;
}
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}
ul {
  padding-inline-start: 0px;
  list-style-type: none;
}
.selection-list {
  input {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
    color: #222f3e;
    -webkit-appearance: none;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 50px;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

    margin-bottom: 20px;
  }
}
.virtualized-list-item {
  &:nth-child(odd) {
    background-color: whitesmoke;
  }
}
.select-search-box {
  position:relative;
  .select-search-box__search {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
    color: #222f3e;
    -webkit-appearance: none;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 50px;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }

  .select-search-box__option {
    padding:5px;
    &:nth-child(odd) {
      background-color: whitesmoke;
    }

  }
}
.select-search-box::after {
  font-family: fontawesome;
  content:"\f002";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  line-height: 50px;
  color: #222f3e;
  z-index: 1;
}
